@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body {
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  flex: 1;
}


.footer {
  display: flex;
  background-color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

a {
  text-decoration: none;
  color: #272727;
}


