.odd {
    background-color: rgba(240, 153, 158, 0.7);
    font-family: Verdana "DejaVu Sans" sans-serif;
}

.odd.bigger {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 34px;
}

#num4 {
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}