body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  display: block;
  color: black;
  font-size: 24px;
  padding: 10px;
  }

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 15px;
  text-align: center;
  height: 60px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  justify-content: center;
  display: block;
  margin: 0 auto;
  padding: 7px 30px;
}